*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* #f9933b */

/* Top-Nav Start */
.marq-container{
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
}
.marq-content{
    width: 70%;
}
/* Top-Nav End */


/* Navbar Start */
.navbar{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
    /* padding: 1rem; */
}
.navbar-container{
    display: flex;
    justify-content: space-between;
}
.navbar-logo img{
    width: 100px;
    padding-top: 5px;
}
.navbar-links ul{
    display: flex;
    list-style-type: none;
    padding-top: 8px;
}
.navbar-links ul li a, .navbar-links ul li{
    padding: 14px;
    letter-spacing: 1px;
    /* color: #f9933b; */
    background: linear-gradient(300deg,#000000,#f9933b);-webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 15px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
}
.dropdown-content a:hover{
    background-color: #f0cf64;
    color: #111;
}
.dropdown-content a {
    padding: 15px;
    color: #fff;
    display: block;
    text-align: left;
    text-decoration: none;
    background: linear-gradient(300deg,#000000,#f9933b);-webkit-background-clip: text;
    color: transparent;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-icons i{
    margin-right: 1rem;
    padding-top: 1.5rem;
    background: linear-gradient(300deg,#000000,#f9933b);-webkit-background-clip: text;
    color: transparent;
}
/* Navbar End */


/* Banner Start */
.bg-img img{
    width: 100%;
    height: 500px;
    filter: brightness(50%);
    position: relative;
}
.banner-container{
    position: absolute;
    top: 50%;
    text-align: center;
    color: #fff;
}
/* Banner End */